In [1]:
import numpy as np
import scipy 
import seaborn as sns
import pandas as pd
import sys

In [4]:
# import hostel data
hostel_rev = pd.read_csv('/Users/caitlinmowdy/Desktop/DSI-SF-2-caitlinmowdy/capstone-hostelworld/clean-data/hostel_revs_oct9.csv')
del hostel_rev['Unnamed: 0']
del hostel_rev['Unnamed: 0.1']
hostel_rev.head(2)

,rating,desc,FREE,GENERAL,SERVICES,FOOD_DRINK,ENTERTAINMENT,POLICIES,hostel,location,...,H_t2,H_t3,H_t4,H_t5,H_t6,H_t7,H_t8,H_t9,H_t10,max_prob
0,2.0,[stay with us near to the city center of budap...,"[Linen Included , Free City Maps , Towels Incl...","[Breakfast Not Included, Air Conditioning, Out...","[Airport Transfers, Bicycle Hire, Luggage Stor...","[Restaurant, Meals Available, ]","[Wi-Fi, ]",[],Fortuna Botel,"Budapest, Hungary",...,0.986955,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.986955
1,7.5,[the equity point sea is a lively hostel locat...,"[Free Breakfast , Free Internet Access ]","[Wheelchair Friendly, Security Lockers, Common...","[Luggage Storage, 24 Hour Reception, Tours/Tra...","[Restaurant, Bar, ]","[Games Room, ]","[Age Restriction, Credit Cards Accepted, No Cu...",Equity Point Sea,"Barcelona, Spain",...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.994193,0.994193

In [7]:
# make a list of topics hostels have a high prob in 
top_topics = []
for i,u in enumerate(hostel_rev['hostel']):
    topics = []
    if hostel_rev['H_t1'][i] >= 0.7:
        topics.append('H_t1')
    if hostel_rev['H_t2'][i] >= .7:
        topics.append('H_t2')
    if hostel_rev['H_t3'][i] >=.7:
        topics.append('H_t3')
    if hostel_rev['H_t4'][i] >=.7:
        topics.append('H_t4')
    if hostel_rev['H_t5'][i] >=.7:
        topics.append('H_t5')
    if hostel_rev['H_t6'][i] >=.7:
        topics.append('H_t6')
    if hostel_rev['H_t7'][i] >=.7:
        topics.append('H_t7')
    if hostel_rev['H_t8'][i] >=.7:
        topics.append('H_t8')
    if hostel_rev['H_t9'][i] >=.7:
        topics.append('H_t9')
    if hostel_rev['H_t10'][i] >=.7:
        topics.append('H_t10')
    top_topics.append(topics)
    
hostel_rev['topics'] = top_topics
hostel_rev.head(2)

,rating,desc,FREE,GENERAL,SERVICES,FOOD_DRINK,ENTERTAINMENT,POLICIES,hostel,location,...,H_t3,H_t4,H_t5,H_t6,H_t7,H_t8,H_t9,H_t10,max_prob,topics
0,2.0,[stay with us near to the city center of budap...,"[Linen Included , Free City Maps , Towels Incl...","[Breakfast Not Included, Air Conditioning, Out...","[Airport Transfers, Bicycle Hire, Luggage Stor...","[Restaurant, Meals Available, ]","[Wi-Fi, ]",[],Fortuna Botel,"Budapest, Hungary",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.986955,[H_t2]
1,7.5,[the equity point sea is a lively hostel locat...,"[Free Breakfast , Free Internet Access ]","[Wheelchair Friendly, Security Lockers, Common...","[Luggage Storage, 24 Hour Reception, Tours/Tra...","[Restaurant, Bar, ]","[Games Room, ]","[Age Restriction, Credit Cards Accepted, No Cu...",Equity Point Sea,"Barcelona, Spain",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.994193,0.994193,[H_t10]

In [11]:
# put rating in groups
def score(value):
    if value >8.5:
        return '>8.5'
    elif value > 7:
        return '7-8.5'
    elif value >5:
        return '5-7'
    else:
        return '<5'

hostel_rev['rating'] = hostel_rev['rating'].map(score)
hostel_rev.head(2)

,rating,desc,FREE,GENERAL,SERVICES,FOOD_DRINK,ENTERTAINMENT,POLICIES,hostel,location,...,H_t3,H_t4,H_t5,H_t6,H_t7,H_t8,H_t9,H_t10,max_prob,topics
0,<5,[stay with us near to the city center of budap...,"[Linen Included , Free City Maps , Towels Incl...","[Breakfast Not Included, Air Conditioning, Out...","[Airport Transfers, Bicycle Hire, Luggage Stor...","[Restaurant, Meals Available, ]","[Wi-Fi, ]",[],Fortuna Botel,"Budapest, Hungary",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.986955,[H_t2]
1,7-8.5,[the equity point sea is a lively hostel locat...,"[Free Breakfast , Free Internet Access ]","[Wheelchair Friendly, Security Lockers, Common...","[Luggage Storage, 24 Hour Reception, Tours/Tra...","[Restaurant, Bar, ]","[Games Room, ]","[Age Restriction, Credit Cards Accepted, No Cu...",Equity Point Sea,"Barcelona, Spain",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.994193,0.994193,[H_t10]

In [12]:
hostel_rev.columns.values

array(['rating', 'desc', 'FREE', 'GENERAL', 'SERVICES', 'FOOD_DRINK',
       'ENTERTAINMENT', 'POLICIES', 'hostel', 'location', 'num_awards',
       'rev_highlights', 'country', 'city', 'hostel_id', 'country_id',
       'num_free', 'num_serv', 'num_food', 'num_ent', 'num_poli',
       'num_highlights', 'H_t1', 'H_t2', 'H_t3', 'H_t4', 'H_t5', 'H_t6',
       'H_t7', 'H_t8', 'H_t9', 'H_t10', 'max_prob', 'topics'], dtype=object)

In [22]:
hostels_rev2 = hostel_rev[['hostel','rating', 'FREE', 'GENERAL', 'SERVICES', 'FOOD_DRINK',
       'ENTERTAINMENT', 'POLICIES', 'location', 'num_awards',
       'rev_highlights', 'country', 'city', 'topics']]

In [24]:
# add awards to hostel num awards values
def numA(value):
    return 'Awards:'+ str(value)

hostels_rev2['num_awards'] = hostels_rev2['num_awards'].map(numA)

In [92]:
# create lists of hostel informaion
hostel_info = []
for i,h in enumerate(hostels_rev2['hostel']):
    h_info = []
    h_info.append(hostels_rev2['rating'][i])
    h_info.append(hostels_rev2['num_awards'][i])
    h_info.append(hostels_rev2['country'][i])
    h_info.append(hostels_rev2['city'][i])    
    for f in hostels_rev2['FREE'][i].split(' , '):
        h_info.append(f.replace('[','').replace(']',''))
    for g in hostels_rev2['GENERAL'][i].split(', ')[:-1]:
        h_info.append(g.replace('[','').replace(']',''))
    for s in hostels_rev2['SERVICES'][i].split(', ')[:-1]:
        h_info.append(s.replace('[','').replace(']','')) 
    for f in hostels_rev2['FOOD_DRINK'][i].split(', ')[:-1]:
        h_info.append(f.replace('[','').replace(']',''))
    for e in hostels_rev2['ENTERTAINMENT'][i].split(', ')[:-1]:
        h_info.append(e.replace('[','').replace(']',''))
    for p in hostels_rev2['POLICIES'][i].split(', '):
        if p != '':
            h_info.append(p.replace('[','').replace(']','').replace(',',''))
    for t in hostels_rev2['topics'][i]:
        h_info.append(t)
    hostel_info.append(h_info)

In [94]:
hostels_rev2['hostel_info'] = hostel_info

In [115]:
hostels = hostels_rev2[['hostel','hostel_info']]

In [99]:
# import rev data
rev_df = pd.read_csv('/Users/caitlinmowdy/Desktop/DSI-SF-2-caitlinmowdy/capstone-hostelworld/clean-data/clean_revs_oct7.csv')

In [112]:
hos_links = rev_df.groupby(['hostel'])[['link']].max().reset_index()

In [117]:
# merge hostels and links
hostel_dist = pd.merge(hostels, hos_links, on='hostel')
hostel_dist.head(3)

,hostel,hostel_info,link
0,Fortuna Botel,"[<5, Awards:0, Hungary, Budapest, Linen Includ...",http://www.hostelworld.com/hosteldetails.php/F...
1,Equity Point Sea,"[7-8.5, Awards:0, Spain, Barcelona, Free Break...",http://www.hostelworld.com/hosteldetails.php/E...
2,The Naughty Squirrel Backpackers Hostel,"[>8.5, Awards:16, Latvia, Riga, Linen Included...",http://www.hostelworld.com/hosteldetails.php/T...

In [121]:
# save data that is used to calculate distance
hostel_dist.to_csv(path_or_buf='/Users/caitlinmowdy/Desktop/DSI-SF-2-caitlinmowdy/capstone-hostelworld/clean-data/hostel_dist_oct10.csv',encoding='utf8')

In [118]:
# function to calculate jaccard distance for hostels 
def j_dist(hst):
    distance = []
    hostels1 = []
    links = []
    hostel_a = set(hostel_dist['hostel_info'][hostel_dist.hostel == hst].values[0])
    for i,h in enumerate(hostel_dist.hostel):
        hostel_b = set(hostel_dist.hostel_info[i])

        numerator = len(hostel_a.intersection(hostel_b)) * 1.0 # * 1.0 to cast as a float
        denominator = len(hostel_a.union(hostel_b)) * 1.0
        distance.append(numerator / denominator)
        hostels1.append(h)
        links.append(hostel_dist['link'][i])
    distances = pd.DataFrame()
    distances['hostel'] = hostels1
    distances['distances']=distance
    distances['link'] = links
    return distances.sort_values('distances', ascending = False)[1:5]

In [120]:
j_dist('Fortuna Botel')

,hostel,distances,link
3383,Perez Montilla,0.472222,http://www.hostelworld.com/hosteldetails.php/P...
5338,Broadway Hostel & Apartments,0.431818,http://www.hostelworld.com/hosteldetails.php/B...
2809,Cambodia Backpacker Guesthouse,0.418605,http://www.hostelworld.com/hosteldetails.php/C...
3262,Douarskoll Guesthouse,0.418605,http://www.hostelworld.com/hosteldetails.php/D...